# Build
build/
build_linux/
cmake-build-*/
out/
optimized/
test_images/
tools/

# Installer
*.exe
installer.nsi
RELEASE_NOTES.md

# IDE
.vs/
.vscode/
*.user
*.suo
CMakeSettings.json

# Compiled
*.dll
*.so
*.dylib
*.obj
*.o

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
